.login_image img {
    width: 100%;
    border-radius: 20px;
    object-fit: contain;
    min-height: 250px;
}
.login_section{

    color: #C80A11;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}
button.signup{
    background-color: transparent;
    border-color: #C80A11;
    border-radius: 5px;
    width: 60%;
    padding: 5px 0px;
    color: #C80A11;
}

.login_section label{
    font-weight: 600;
}
form {
    width: 58%;
    margin: 0 auto;
    text-align: left;
}

.form-check-input[type=checkbox] {
    border-color: #ee864a;
}
button.signup.submit-btn:hover, button.signup:hover  {
 background-color:#ee864a;
 color: #ffffff;
}


/* modefiy boostrap style  */

 button.link-button {
    border-radius: 5px;
    padding: 5px 10px;
    border-color: #770737;
    background-color: #ee864a;
}

.btn:hover{
    border-color: #770737 !important;
    color: #C80A11 !important;
    background-color: transparent !important;
}
.sign_formtitle{
    color: #C80A11 !important;
    text-align: center !important;
    width: 100%;
    font-size: 2rem !important;
    font-weight: 700 !important;
}
  
  
  



 


  
  
  






@media screen and (max-width : 600px) {
    form {
        width: 80%;
    }
}