
.banner_section {

    font-family: monospace;
}

.banner_section span{
    display: inline-block;
    font-size: 35px;
    color: #F1C40F;
    text-shadow: .8px .8px #770737;
    font-weight: 900;

}
.banner_section h2{
    color: #770737;
    font-weight: 700;
}