
.header-class a{
    text-decoration:none;
    color: #770737;
    font-family: 'Comic Sans MS'
}
.logo a{
font-size: 18px;
font-weight: 900;
}
.top-space{
    margin-top: 20px;
}



.logo a span {
    display: inline-block;
    font-size: 35px;
    color: #F1C40F;
    text-shadow: .8px .8px #770737;
    font-weight: 900;
}
button.top-space {
    border-radius: 4px;
    width: 50%;
   
}

.header-class{
 background-color: #F2F3F4;

}